body {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
    color: white;
}

#main-title {
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.8;
}

.download {
    margin: 3% 5% 3% 0;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding: 1.1rem 0 4.7rem 0;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    padding-left: 0;
}
.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

#iphone-mockup {
    transform: rotate(23deg);
    width: 60%;
}

#features {
    /* border: dotted 2px black; */
    margin: 5% 0 5% 0;
}

#features .fas {
    color: #ef8172;
}

#features .fas:hover {
    color: #ff4c68;
}

#features h3 {
    font-weight: bold;
    font-size: 1.7rem;
}

#features p {
    color: #8f8f8f;
    padding: 0 15%;
}

i {
    margin-bottom: 15px;
}

/* testimonials  */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

#testimonials img {
    border-radius: 50%;
    width: 10%;
    margin: 30px;
}

#tclogo {
    width: 10%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#press img {
    width: 10%;
    margin: 20px 20px 50px;
}
