body {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

/* title section  */

#title {
    background-color: #ff4c68;
    color: white;
}

#main-title {
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.8;
}

.download {
    margin: 3% 5% 3% 0;
}

.container-fluid {
    padding: 7% 15%;
}

#iphone-mockup {
    transform: rotate(23deg);
    width: 60%;
    position: absolute;
    left: 110px;
}

@media (max-width: 1028px) {
    #iphone-mockup {
        transform: rotate(0deg);
        position: static;
    }

    #title {
        text-align: center;
    }
}

/* nav bar section  */

.navbar {
    padding: 1.1rem 0 4.7rem 0;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    padding-left: 0;
}
.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

/* features section  */

#features {
    padding: 130px 0;
    background-color: white;
    position: relative;
}

#features .fas {
    color: #ef8172;
}

#features .fas:hover {
    color: #ff4c68;
}

#features h3 {
    font-weight: bold;
    font-size: 1.7rem;
}

#features p {
    color: #8f8f8f;
    padding: 0 15%;
}

i {
    margin-bottom: 15px;
}

/* testimonials  */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.carousel-item {
    padding: 7% 15%;
}

#testimonials img {
    border-radius: 50%;
    width: 10%;
    margin: 30px;
}

#tclogo {
    width: 10%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#press img {
    width: 10%;
    margin: 20px 20px 50px;
}

/* pricing  */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}
